$green: #3B97D3;
$red: #1F5B83; 
$orange: #0D2738;
$purple:  #1F5B83; 

$blue1: #3B97D3;
$blue2: #1F5B83; 
$blue3: #0D2738;



.banner-wrapper { 
	position: relative; 
	transform: translateY(-1px); 
}
#banner-bg { 
	height: 35vh; 
	min-height: 230px; 
	padding-top: 30px; 
	position: relative; 
	z-index: 1; 
	transition: height 1s ease-in-out, background-color 1s ease-in-out;  
	&.blue1-bg { 
		background-color: $blue1; 
	}
	&.blue2-bg { 
		background-color: $blue2; 
	}
	&.blue3-bg { 
		background-color: $blue3; 
	}
	
	@media (min-width: 768px) {
		height: 400px;
		padding-top: 60px; 

	}
	#banner { 
		h2 { 
			color: #fff;
			font-size: 30px;  
			font-weight: 300; 

			@media (min-width: 768px) {
				font-weight: 600; 
				font-size: 60px; 
			}
		}
	}
}
#sm-down-arrow-container { 
	transform: rotateX(50deg); 
}
#sm-down-arrow { 
	width: 70px; 
	height: 70px;
	transform: translateX(-50%) rotateZ(45deg);  
	transform-origin: 50% 50%; 
	position: absolute; 
	bottom: -35px; 
	left: 50%; 
	z-index: 0; 
	transition: background-color 1s ease-in-out; 
	&.blue1-bg { 
		background-color: $blue1; 
	}
	&.blue2-bg { 
		background-color: $blue2; 
	}
	&.blue3-bg { 
		background-color: $blue3; 
	}
}
