.container-fixed { 
	margin-left: auto; 
	margin-right: auto; 
}
@media (min-width: 768px) {
	.container-fixed {
		padding: 0 15px; 
	}
}
@media (min-width: 1200px) { 
	.container-fixed { 
		width: 1170px; 
	}
}
.page-content { 
	padding: 60px 0; 
}