.container-fixed { 
	margin-left: auto; 
	margin-right: auto; 
	padding: 0 15px; 
	@media (max-width: 767px) {
		&.sm-no-padding {
			padding: 0 0; 
		}			
	}
}
@media (min-width: 768px) {
	.container-fixed {
		padding: 0 15px; 
	}
}
@media (min-width: 1200px) { 
	.container-fixed { 
		width: 1170px; 
	}
}
.page-content { 
	padding: 60px 0; 
}