.header { 
	background-color: #fff; 
	padding: 15px; 
	color: white;
	position: relative; 
	.side-nav-trigger { 
		width: 40px; 
		height: 40px; 
		background-color: #27ae60; 
		top: 15px;
		left: 15px; 
		position: absolute;  
	}

	.title { 
		float: left; 

		.logo { 
			display: inline; 
			color: #333; 
			text-decoration: none; 
			font-size: 36px; 
			line-height: 1em; 
		}
		.tagline { 
			display: inline; 
			color: #333; 
			text-decoration: none; 
			padding: 15px; 
		}
	}

	.nav {
		list-style-type: none; 
		padding-left: 0; 
		float: right; 

		> li { 
			display: block; 
			float: left; 
			margin: 0 15px; 
			padding: 15px; 

			a { 
				color: #333; 
				text-decoration: none; 

				&.active { 
					color: #2ecc71; 
				}
			}
		}	
	}
}