$red: #e64c3c;
$orange: #f29c1f; 
$green: #25b99a; 
$purple: #8e44ad; 
$yellow: #f1c40f;
.header { 
	background-color: #fff; 
	padding: 15px; 
	color: white;
	position: relative; 
	.side-nav-trigger { 
		width: 40px; 
		height: 40px; 
		background-color: #27ae60; 
		top: 15px;
		left: 15px; 
		position: absolute;  
		@media screen and (min-width: 768px) { 
			display: none; 
		}
	}


	.title { 
		float: left; 
		margin-top: 16px; 
		.logo { 
			display: inline; 
			color: #333; 
			text-decoration: none; 
			font-size: 36px; 
			line-height: 1em; 
		}
		.tagline { 
			display: inline; 
			color: #333; 
			text-decoration: none; 
			padding: 15px; 
		}
	}

	.nav {
		list-style-type: none; 
		padding-left: 0; 
		float: right; 
		display: none; 
		@media screen and (min-width: 768px) { 
			display: block; 
		}

		> li { 
			display: block; 
			float: left; 
			margin: 0 15px; 
			padding: 15px; 

			a { 
				color: #333; 
				text-decoration: none; 
				font-weight: 600; 
				text-transform: uppercase; 

				&.red-link {
					&.active, &:hover {
						color: $red; 
					}
				}
				&.orange-link {
					&.active, &:hover {
						color: $orange; 
					}
				}
				&.green-link {
					&.active, &:hover {
						color: $green; 
					}
				}

				&.active { 
					color: #2ecc71; 
				}
			}
		}	
	}
}