.heart-svg-container { 
	width: 300px; 
	padding: 50px; 
	margin: 0 auto; 
}
.heart-svg { padding: 15px;}
.heart-svg path { 
	fill: transparent; 
	stroke: #ff7bac;  
	stroke-width: 4px; 
	stroke-dasharray: 514.2344970703125px; 
	animation: heart 2s ease-in-out infinite alternate;
}
@keyframes heart { 
  0% {
    fill: rgba(0,0,0,0); 
    stroke-dashoffset: -514.2344970703125px; 
  }
  60% { 
    fill: rgba(0,0,0,0);
  }
  80% { 
    stroke-dashoffset: 0; 
  }
  100% { 
    fill: #ff7bac; 
  }
}