.heart-svg-container { 
	width: 300px; 
	padding: 50px; 
	margin: 0 auto; 
}
.heart-svg { padding: 15px;}
.heart-svg path { 
	fill: transparent; 
	stroke: #ff7bac;  
	stroke-width: 4px; 
	stroke-dasharray: 514.2344970703125px; 
	animation: heart 2s ease-in-out infinite alternate;
}
@keyframes heart { 
  0% {
    fill: rgba(0,0,0,0); 
    stroke-dashoffset: -514.2344970703125px; 
  }
  60% { 
    fill: rgba(0,0,0,0);
  }
  80% { 
    stroke-dashoffset: 0; 
  }
  100% { 
    fill: #ff7bac; 
  }
}


.skills-svg { 

  text { display: none; }

  .cls-8{
    fill:none;
    stroke: #e67e22;  
    stroke-width: 3px; 

    &.line-1 { 
      stroke-dasharray: 220.4900016784668px; 
      animation: linePipe1 10s ease infinite;
    }
    &#line-2 { 
      stroke-dasharray: 302.48996353149414px; 
      animation: linePipe2 10s ease infinite;
    }

    &#line-3 { 
      stroke-dasharray: 202.93066865130703px; 
      animation: linePipe3 10s ease infinite;
    }
  }  
}

@keyframes linePipe1 { 
  0% { 
    stroke-dashoffset: 220.4900016784668px;
  } 
  33% { 
    stroke-dashoffset: 0; 
  }
}
@keyframes linePipe2 { 
  0% { 
    stroke-dashoffset: 302.48996353149414px;
  } 
  33% { 
    stroke-dashoffset: 0; 
  }
}
@keyframes linePipe3 { 
  0% { 
    stroke-dashoffset: 202.93066865130703px; 
  } 
  33% { 
    stroke-dashoffset: 202.93066865130703px; 
  }
  66% { 
    stroke-dashoffset: 0; 
  }
}