.text-center {
	text-align: center; 
}
.page-content {
	h1 {
		text-align: center; 
		text-transform: uppercase; 
		border-bottom: 4px solid #f29c1f; 
		display: inline-block; 
		margin-bottom: 60px; 
	}
}