body {
	font-family: 'Kameron', serif; 
}
.text-center {
	text-align: center; 
}
h1 {
	text-align: center; 
	text-transform: uppercase; 
	border-bottom: 4px solid #f29c1f; 
	display: inline-block; 
	margin-bottom: 60px; 
	margin-top: 60px; 
	font-family: 'Open Sans', sans-serif; 
} 
h2 {
	font-family: 'Open Sans', sans-serif; 
}
h3 {
	font-family: 'Open Sans', sans-serif; 
}
h4 {
	font-family: 'Open Sans', sans-serif; 
}
h5 {
	font-family: 'Open Sans', sans-serif; 
}
h6 {
	font-family: 'Open Sans', sans-serif; 
}
